body {
    padding-top: 70px;
}

#products {
    position: relative;
    max-width: 100%;
    width: 100%;
}
.imgSld {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.center{
    text-align: center;
}
ul
{
    padding-left: 0;
}
.white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    padding: 10px;
}
.white-panel h1 {
    font-size: 1em;
}
.white-panel h1 a {
    color: #A92733;
}
.white-panel:hover {
    box-shadow: -2px -3px 10px rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.mensaje-alerta{
    font-size: larger !important;

}
/*Quitar efecto hover*/
a.none{
    pointer-events: none;
    cursor: default;
}
.changeDirection{
    visibility: hidden;
}

.footer {
    background-color: #222222;
    border-top: 4px solid cadetblue;
    color: cadetblue;
    bottom:0;
    margin-left:0 !important;
    margin-right: 0 !important;
    margin-top: 5%;
    Width:100%;

}
.marginBottom {
    margin-bottom: 5%;
}
.paddingBottom {
    padding-bottom: 2%;
}
.Mjgb {
    filter:alpha(opacity=65);
    opacity: 0.9;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    color: transparent;
    text-align: center;
} .Mjgb:hover {
      filter:alpha(opacity=100);
      opacity: 1.0;
      color: black;
  } .texto mj {
        padding: 15px;
    }

/*Menu lateral*/
ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 55px;
    left: 0px;
    list-style: none;
    text-align: center;
    z-index:9999;
}

ul#navigation li {
    width: 100px;
}

ul#navigation li a {
    padding-top: 10px;
    text-decoration: none;
    display: block;
    margin-left: -85px;
    width: 200px;
    height: 70px;
    background-color:#ecf0f1;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    box-shadow:  2px 2px 8px #939393;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*opacity: 0.7;*/

}